[submodule "sem5/pdp"]
	path = sem5/pdp
	url = https://github.com/mirceadino/parallel-and-distributed-programming
[submodule "sem5/pkc"]
	path = sem5/pkc
	url = https://github.com/mirceadino/public-key-cryptography
[submodule "sem5/flcd"]
	path = sem5/flcd
	url = https://github.com/mirceadino/formal-languages-and-compiler-design
[submodule "sem5/dp"]
	path = sem5/dp
	url = https://github.com/mirceadino/iStudent
[submodule "sem5/pc"]
	path = sem5/pc
	url = https://github.com/mirceadino/job-seeker
