[submodule "sem5/CollegeAssignments-Parallel-Distributed-Programming"]
	path = sem5/CollegeAssignments-Parallel-Distributed-Programming
	url = https://github.com/mirceadino/CollegeAssignments-Parallel-Distributed-Programming
[submodule "sem5/pdp"]
	path = sem5/pdp
	url = https://github.com/mirceadino/CollegeAssignments-Parallel-Distributed-Programming
